.diceWrapper {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.diceArea {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.diceBg {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
